name: Doc Preview Cleanup

on:
  pull_request:
    types: [closed]

jobs:
  doc-preview-cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gh-pages branch
        uses: actions/checkout@v4
        with:
          ref: gh-pages
      - name: Delete preview and push
        run: |
            if [ -d "previews/PR$PRNUM" ]; then
              git config user.name "github-actions[bot]"
              git config user.email "github-actions[bot]@users.noreply.github.com"
              git rm -rf "previews/PR$PRNUM"
              git commit -m "delete preview"
              git push origin gh-pages:gh-pages
            fi
        env:
            PRNUM: ${{ github.event.number }}
